In [1]:
multilinea='Hechos acerca de la luna:\n No hay atmosfera.\n No hay sonido.' # al parecer \n nos da una pequeña sangria por default
# print(multilinea)

# Del mismo modo podemos dar salto de linea usando comillas triples 

multilinea2="""Hechos acerca de la luna: 
No hay atmosfera. 
No hay sonido."""

print(multilinea)
print(multilinea2)
#Estos nos arrojan los mismos resultados

Hechos acerca de la luna:
 No hay atmosfera.
 No hay sonido.
Hechos acerca de la luna:
No hay atmosfera.
No hay sonido.

## Capitalizar palabras

In [2]:
#el comando .title() hace mayuscula la primera letra de cada palabra de una cadena 
print(multilinea.title())

prueba= "esta es una prueba"
prueba_2=prueba.title()

print(prueba_2)

Hechos Acerca De La Luna:
 No Hay Atmosfera.
 No Hay Sonido.
Esta Es Una Prueba

## Separar una cadena

In [3]:

# Podemos usar el comando .split() para dividir una cadena y esto nos generara una lista
# Este comando toma por default a los espacios como separadores 

cadena= """Un día tiene: 24 hrs 
una hora tiene: 60 minutos 
un minuto tiene: 60 segundos"""


lst=cadena.split()
print(lst)


#También podemos usar los saltos de linea como delimitadores para separar la cadena agregando el comando .split('\n') 
#Este comando funciona ya sea que demos saltos de linea usando \n o triples comillas dobles 
lst_1=cadena.split('\n')
print(lst_1)

['Un', 'día', 'tiene:', '24', 'hrs', 'una', 'hora', 'tiene:', '60', 'minutos', 'un', 'minuto', 'tiene:', '60', 'segundos']
['Un día tiene: 24 hrs ', 'una hora tiene: 60 minutos ', 'un minuto tiene: 60 segundos']

## Búsqueda de un elemento dentro de una cadena

In [4]:


#El comando 'in' buscara el argumento dentro de la cadena especificado y en caso de estar nos arrojara un True de lo contrario False

print("Moon" in "This text will describe facts and challenges with space travel") #Este argumento es Falso


print("Moon" in "This text will describe facts about the Moon") # Este argumento es cierto

False
True

In [6]:
#El comando .find() busca un argumento dentro de una cadana y nos regresa su posición dentro de la cadena 
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find("Moon")

#Cuando el argument no se encuentra en la cadena nos regresa -1

-1

In [7]:
temperatures.find('Mars')

68

## Contar repeticiones de una argumento en una cadena

In [13]:
#Podmeos usar el comando .count() para ver cuantas veces aparece un argumento en una cadena 
print(temperatures.count('Mars'))
print(temperatures.count('Moon'))

1
0

## Descapitalizar una cadena

In [14]:
#Al contrario de .title() , .lower() nos descapitaliza una cadena y .upper() nos capitaliza todas las letras de una cadena 
print(prueba_2)
print(prueba_2.lower())
print(prueba_2.upper())

Esta Es Una Prueba
esta es una prueba
ESTA ES UNA PRUEBA

## Comprobación de contenido en una cadena

In [19]:
temperatura='La temperatura promedio de Marte es : -60°C'

In [20]:
#primero vamos a separar los elementos de la cadena usando .split()
partes=temperatura.split()
partes

['La', 'temperatura', 'promedio', 'de', 'Marte', 'es', ':', '-60°C']

In [21]:
partes[-1]

'-60°C'

Si el texto es irregular, no puede usar los mismos métodos de división para obtener el valor. Debe recorrer en bucle los elementos y comprobar si los valores son de un tipo determinado. Python tiene métodos que ayudan a comprobar el tipo de cadena:

In [27]:
#The .isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
#The isdecimal() method returns True if all characters in a string are decimal characters. If not, it returns False.

mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [29]:
#Hay validaciones adicionales que puede aplicar en las cadenas para comprobar si hay valores. 
#En el caso de los números negativos, el guion se agrega como prefijo al número y se puede detectar con el método .startswith()
"-60".startswith('-')

True

In [30]:
#De forma similar, el método .endswith() ayuda a comprobar el último carácter de una cadena
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [33]:
## Observación: en las cadenas las mayúsculas y minúsculas si se diferencian

a='Hola mundo'
b='hola mundo'

print(a==b)

#podemos usar los comandos previos para mejorar la exactitud de nuestras busquedas 

c=a.lower()
print(b==c)

False
True

Es posible que no tenga que realizar la comprobación sin distinguir mayúsculas de minúsculas todo el tiempo, pero convertir en minúsculas todas las letras es un buen enfoque cuando en el texto se usa una mezcla de mayúsculas y minúsculas.

Después de dividir el texto y realizar las transformaciones, es posible que tenga que volver a ensamblar todas las piezas. Al igual que el método .split() puede separar caracteres, el método .join() puede volver a agruparlos.

El método .join() necesita un elemento iterable (como una lista de Python) como argumento, por lo que su uso es diferente al de otros métodos de cadena:

In [36]:
#Podemos utilizar el comando .join() para unir argumentos pero join necesita un argumento de iteración

#Primero creamos una cadena
moon_facts = "The Moon is drifting away from the Earth. \n  On average, the Moon is moving about 4cm every year"
#Después la separamos usando .split('n') como argumento para separar por salto de línea
moon_facts_split=moon_facts.split('\n')

# Y ahora usamos .\n como argumento para usar .join()
moon_facts_join='\n'.join(moon_facts_split) 

#Al imprimir moon_facts y moon_facts_join debemos obtener el mismo resultado

print(moon_facts)
print(moon_facts_join)

The Moon is drifting away from the Earth.
  On average, the Moon is moving about 4cm every year
The Moon is drifting away from the Earth.
  On average, the Moon is moving about 4cm every year

# Formato de cadenas

### Formato de signo de porcentaje (%)
El marcador de posición de la variable de la cadena es %s. Después de la cadena, use otro carácter % seguido del nombre de la variable. En el ejemplo siguiente, se muestra cómo dar formato mediante el carácter %:

In [1]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about %s of your weight on Earth" % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

El uso de varios valores cambia la sintaxis, ya que se necesitan paréntesis para rodear las variables que se pasan:

In [2]:
print("""Both sides of the %s get the same amount of sunlight, but only one side is seen from %s because the %s rotates around its own axis when it orbits %s.""" % ("Moon", "Earth", "Moon", "Earth"))

Both sides of the Moon get the same amount of sunlight, but only one side is seen from Earth because the Moon rotates around its own axis when it orbits Earth.

### El método format()
El método .format( ) usa llaves ({ }) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar texto.

In [3]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about {} of your weight on Earth".format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

No es necesario asignar variables repetidas varias veces, lo que hace que sea menos detallado porque es necesario asignar menos variables:

In [4]:
print("""You are lighter on the {0}, because on the {0}  you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon  you would weigh about 1/6 of your weight on Earth

En lugar de llaves vacías, la sustitución consiste en usar números. {0} significa usar el primer argumento (índice cero) de .format( ), que en este caso es Moon. {0} funciona bien para una repetición simple, pero reduce la legibilidad. Para mejorar la legibilidad, use argumentos de palabra clave en .format( ) y, después, haga referencia a los mismos argumentos entre llaves:

In [5]:
>>> print("""You are lighter on the {moon}, because on the {moon} you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon you would weigh about 1/6 of your weight on Earth

## Acerca de las cadenas f-strings
A partir de la versión 3.6 de Python, es posible usar f-strings. Estas cadenas parecen plantillas y usan los nombres de variable del código. El uso de f-strings en el ejemplo anterior tendría el siguiente aspecto:

In [6]:
print(f"On the Moon, you would weigh about {mass_percentage} of your weight on Earth")

On the Moon, you would weigh about 1/6 of your weight on Earth

In [7]:
#Con f-strings, no es necesario asignar un valor a una variable de antemano:
print(f"On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth")

On the Moon, you would weigh about 16.7% of your weight on Earth

In [8]:
# Podemos combinar f-string con los comandos antes vistos

subject = "interesting facts about the moon"
f"{subject.title()}"

'Interesting Facts About The Moon'

# Uso de operaciones matématicas en Python

Adéams de las operaciones usuales en python tenemos la división redondeada hacia abajo o bien división de multiplo inferior. Esta divesión se hace usando //

In [1]:
a=12389/3 # división usual
b=12389//3 # divisón multiplo inferior 
print(a, b)

4129.666666666667 4129

Supongamos que queremos determinar cuantos minutos son 1042 segundos para esto  solo dividimos entre 60  pero esta división no es exacta. Sabiendo esto podemos saber cuantos segundo sobran usando la operación "modulo" ( % ). El modulo solo nos dice el residuo de una divisón. Por ejemplo 5 mod 2 =1 ya que 5/2= 4 + residuo, donde el residuo es 1

In [3]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

## Biblioteca matemática
Python tiene bibliotecas para proporcionar operaciones y cálculos más avanzados. Una de las más comunes es la biblioteca math. math permite hacer el redondeo con floor y ceil, proporcionar el valor de pi y muchas otras operaciones. Veamos cómo usar esta biblioteca para redondear hacia arriba o hacia abajo.

El redondeo de números permite quitar la parte decimal de un número de punto flotante. Puede optar por redondear siempre hacia arriba al número entero más cercano si usa ceil, o hacia abajo si usa floor.

In [4]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

# Manejo de listas

Podemos crear listas simplemente asignandolas a una variable usando corchetes y separando sus elelmentos por comas. Una lista puede contener mas de un tipo de dato.

In [1]:
lst=[1,'qq', True]

In [2]:
print(lst)

[1, 'qq', True]

Podemos segementar listas usando corchetes e indicando desde  y hasta cual elemento queremos segmentarm recordando que los indices inican en 0 y que podemos usar : para elegir desde el inicio

In [8]:
l=lst[0:]
print(l)

[1, 'qq', True]

Para combinar dos listas simplemente usamos un + para "sumar" las listas. 
Para ordenar o reordenar una lista podmeos usar el comando .sort() este for default reordena alfaberticamente si son cadenas y de menor a mayor si son numeros

In [12]:
del(l)
del(lst)

In [15]:
lst=[1,35,7,-541,35,741,0,-87,178]
ls=['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [17]:
print(lst)
print(ls)

[-541, -87, 0, 1, 7, 35, 35, 178, 741]
['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [18]:
#Para reordenar de atras adelante una lista solo ponemos el argumento .sort(reverse=True)
lst.sort(reverse=True)
print(lst)

[741, 178, 35, 35, 7, 1, 0, -87, -541]

- #  Diccionarios

Los diccionarios de Python permiten trabajar con conjuntos de datos relacionados. Un diccionario es una colección de pares clave-valor. Piense que es como un grupo de variables dentro de un contenedor, donde la clave es el nombre de la variable y el valor es el valor almacenado en su interior.

In [19]:
planet = {
    'name': 'Earth',
    'moons': 1
}

In [20]:
#Para leer valores dentro de un diccionario podemos usar el comando get

print(planet.get('name'))

Earth

In [21]:
# El código anterior puede siplificarse simplemente poniendo la variable en corchetes para obtener el mismo resultado

print(planet['name'])

Earth

In [25]:
#Aunque el comportamiento de get y los corchetes ([ ]) suele ser el mismo para recuperar elementos, hay una diferencia principal
#Si una clave no está disponible, get devuelve None y [ ] genera un error KeyError.
'''wibble = planet.get('wibble') # Returns None
wibble = planet['wibble'] # Throws KeyError'''

"wibble = planet.get('wibble') # Returns None\nwibble = planet['wibble'] # Throws KeyError"

Para modificar el valor de una variable de un diccionario podemos usar el comando .update( ) o usar corchetes

In [26]:
planet.update({'name':'Jupyter'}) # creo que usan las llaves para indicar que son un elemento de un diccionario
planet['moons']=79

print(planet)

{'name': 'Jupyter', 'moons': 79}

In [37]:
# Podemos añadir o eliminar variables de un diccionario

# aquí añadimos dos variables
planet['orbital period']=4333 
planet['gravity']='455'
print(planet)

{'name': 'Jupyter', 'moons': 79, 'orbital period': 4333, 'gravity': '455'}

In [38]:
planet.pop('orbital period') 
planet.pop('gravity') # aquí eliminamos las variables
planet

{'name': 'Jupyter', 'moons': 79}

Un diccionario puede almacenar otros diccionarios dentro de si mismo, esto nos permite crear variables más complejas

In [47]:
planet['diameter (km)']={'polar':133709,'equatorial':142984}
#planet.pop('diameter')
planet

{'name': 'Jupyter',
 'moons': 79,
 'diameter (km)': {'polar': 133709, 'equatorial': 142984}}

In [48]:
#Para recuperar valores en un diccionario anidado, debe encadenar corchetes o llamadas a get.
print(f'{planet["name"]} polar diameter: {planet["diameter (km)"]["polar"]}')

Jupyter polar diameter: 133709

Podemos ver todas las llaves ( variables) de nuestro diccionario usando el comando .keys()

In [49]:
planet.keys()

dict_keys(['name', 'moons', 'diameter (km)'])

In [52]:
#Podemos usar un ciclo for para iterar sobre los elementos de nuestros diccionarios    
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}
for key in rainfall.keys() :
  print(f'{key}: {rainfall[key]} cm')

october: 3.5 cm
november: 4.2 cm
december: 2.1 cm

###  Determinación de la existencia de una clave en un diccionario
Al actualizar un valor en un diccionario, Python sobrescribirá el valor existente o creará uno, si la clave no existe. Si quiere agregar a un valor en lugar de sobrescribirlo, puede comprobar si la clave existe mediante in. Por ejemplo, si quiere agregar un valor a diciembre o crear uno si no existe, puede usar lo siguiente:

In [53]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1
else:
    rainfall['december'] = 1

rainfall

{'october': 3.5, 'november': 4.2, 'december': 3.1}

### Recuperación de todos los valores
De forma similar a keys( ), values( ) devuelve la lista de todos los valores de un diccionario sin sus claves correspondientes. values( ) puede resultar útil cuando se usa la clave con fines de etiquetado, como en el ejemplo anterior, en el que las claves son el nombre del mes. Puede usar para values( ) determinar el importe total de las precipitaciones:

In [54]:
rainfall.values()

dict_values([3.5, 4.2, 3.1])

In [55]:
total_rainfall = 0
for value in rainfall.values():
    total_rainfall = total_rainfall + value

print(f'There was {total_rainfall}cm in the last quarter')

There was 10.8cm in the last quarter

- # Funciones de Python

In [1]:
def rocket_parts():
    print('payload','propellant','structure')

rocket_parts()

payload propellant structure

In [2]:
output = rocket_parts()
output is None

payload propellant structure

True

In [4]:
def rocket_parts():
    return 'payload, propellant, structure'
output=rocket_parts()
output

'payload, propellant, structure'

## Argumentos opcionales y requeridos
En Python, varias funciones integradas requieren argumentos. Algunas funciones integradas hacen que los argumentos sean opcionales. Las funciones integradas están disponibles de inmediato, por lo que no es necesario importarlas explícitamente.

Un ejemplo de una función integrada que requiere un argumento es any(). Esta función toma un objeto iterable (por ejemplo, una lista) y devuelve True si algún elemento del objeto iterable es True. De lo contrario, devuelve False.

In [7]:
print(any([True, False, False]))

print(any([False, False, False]))

True
False

## Funciones con argumento
  ### Exigencia de un argumento
Si va a pilotar un cohete, una función sin entradas obligatorias es como un equipo con un botón que le indique la hora. Si presiona el botón, una voz computarizada le indicará la hora. Pero una entrada necesaria puede ser un destino para calcular la distancia del viaje. Las entradas obligatorias se denominan argumentos para la función.

Para requerir un argumento, póngalo entre paréntesis:

In [8]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

In [9]:
distance_from_earth()

TypeError: distance_from_earth() missing 1 required positional argument: 'destination'

In [11]:
distance_from_earth('Moon')

'238,855'

In [12]:
distance_from_earth('Saturn')

'Unable to compute to that destination'

In [13]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [14]:
days_to_complete(238855,120)

82.93576388888889

### Funciones con argumentos

In [15]:
total_days = days_to_complete(238855, 75)
round(total_days)

133

In [16]:
round(days_to_complete(238855, 75))

133

### Uso de argumentos de palabra clave en Python

In [1]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime("Arrival: %A %H:%M")

In [2]:
arrival_time()

'Arrival: Thursday 18:34'

In [3]:
arrival_time(hours=0)

'Arrival: Tuesday 15:35'

### Combinación de argumentos y argumentos de palabra clave
A veces, una función necesita una combinación de argumentos de palabra clave y argumentos. En Python, esta combinación sigue un orden específico. Los argumentos siempre se declaran primero, seguidos de argumentos de palabra clave.

Actualice la función arrival_time( ) para que tome un argumento necesario, que es el nombre del destino:

In [4]:
def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f"{destination} Arrival: %A %H:%M")

In [5]:
# Esta nueva función que acabamos de crear requiere imperativamente un argumento de "destino" de lo contrario el código no regresará un error
arrival_time("Moon")

'Moon Arrival: Thursday 18:37'

In [6]:
arrival_time("Orbit", hours=0.13)

'Orbit Arrival: Tuesday 15:45'

### Uso de argumentos de variable para PYTHON

#### Argumentos de variable
Los argumentos en las funciones son necesarios. Pero cuando se usan argumentos de variable, la función permite pasar cualquier número de argumentos (incluido 0). La sintaxis para usar argumentos de variable es agregar un asterisco único como prefijo (*) antes del nombre del argumento.

La función siguiente imprime los argumentos recibidos:

In [9]:
# La siguiente funcion devuelve los argumentos recibidos 
def variable_length(*args):
    print(args)

variable_length(1,75,8,6,8979)

(1, 75, 8, 6, 8979)

Un cohete realiza varios pasos antes de un lanzamiento. En función de las tareas o retrasos, estos pasos pueden tardar más de lo previsto. Vamos a crear una función de longitud variable que pueda calcular cuántos minutos quedan hasta el inicio, dado el tiempo que va a tardar cada paso:

In [11]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f"Total time to launch is {total_minutes} minutes"
    else:
        return f"Total time to launch is {total_minutes/60} hours"

In [12]:
sequence_time(1,15,98,7,14,35)

'Total time to launch is 2.8333333333333335 hours'

### Argumentos de palabra clave variable
Para que una función acepte cualquier número de argumentos de palabra clave, debe usar una sintaxis similar. En este caso, se requiere un asterisco doble:

In [2]:
def variable_length(**kwargs):
    print(kwargs)

In [4]:
dict=variable_length(tanks=1, day="Wednesday", pilots=3)
print(type(dict), dict)

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}
<class 'NoneType'> None

In [5]:
def crew_members(**kwargs):
    print(f"{len(kwargs)} astronauts assigned for this mission:")
    for title, name in kwargs.items():
        print(f"{title}: {name}")

In [6]:
crew_members(captain="Neil Armstrong", pilot="Buzz Aldrin", command_pilot="Michael Collins")

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

### Exploración de la estructura de las instrucciones SQL

En cualquier dialecto de SQL, las instrucciones SQL se agrupan en varios tipos diferentes de instrucciones. Estos distintos tipos son:

- Lenguaje de manipulación de datos (DML), que es el conjunto de instrucciones SQL que se centra en consultar y modificar datos. Las instrucciones DML incluyen SELECT, el punto central de este entrenamiento, y las instrucciones de modificación como INSERT, UPDATE y DELETE.
- Lenguaje de definición de datos (DDL), que es el conjunto de instrucciones SQL que controla la definición y el ciclo de vida de los objetos de base de datos, como tablas, vistas y procedimientos. DDL incluye instrucciones como CREATE, ALTER y DROP.
- Lenguaje de control de datos (DCL), que es el conjunto de instrucciones SQL que se usan para administrar permisos de seguridad para usuarios y objetos. DCL incluye instrucciones como GRANT, REVOKE y DENY.

In [ ]:
SELECT OrderDate, COUNT(OrderID) AS Orders
FROM Sales.SalesOrder
WHERE Status = 'Shipped'
GROUP BY OrderDate
HAVING COUNT(OrderID) > 1
ORDER BY OrderDate DESC;

Ahora que ha visto lo que hace cada cláusula, echemos un vistazo al orden en que SQL Server las evalúa realmente:

1. La cláusula FROM se evalúa primero para proporcionar las filas de origen para el resto de la instrucción. Se crea una tabla 2. virtual y se pasa al paso siguiente.
2. La cláusula WHERE es la siguiente en evaluarse, filtrando las filas de la tabla de origen que coinciden con un predicado. La tabla virtual filtrada se pasa al paso siguiente.
3. GROUP BY es la siguiente, que organiza las filas de la tabla virtual según los valores únicos que se encuentran en la lista GROUP BY. Se crea una nueva tabla virtual que contiene la lista de grupos y se pasa al paso siguiente. A partir de este punto del flujo de operaciones, otros elementos solo pueden hacer referencia a las columnas de la lista GROUP BY o a las funciones de agregado.
4. Después se avalúa la cláusula HAVING, que filtra grupos completos en función de su predicado. La tabla virtual creada en el paso 3 se filtra y se pasa al paso siguiente.
5. Por último, se ejecuta la cláusula SELECT, que determina qué columnas aparecerán en los resultados de la consulta. Dado que la cláusula SELECT se evalúa después de los otros pasos, los alias de columna (en nuestro ejemplo, Orders)creados allí no se pueden usar en las cláusulas GROUP BY o HAVING.
6. La cláusula ORDER BY es la última en ejecutarse, que ordena las filas según lo determinado por su lista de columnas.
Para aplicar este conocimiento a nuestra consulta de ejemplo, este es el orden lógico en tiempo de ejecución de la instrucción SELECT anterior:

In [ ]:
FROM Sales.SalesOrder
WHERE Status = 'Shipped'
GROUP BY OrderDate 
HAVING COUNT(OrderID) > 1
SELECT OrderDate, COUNT(OrderID) AS Orders
ORDER BY OrderDate DESC;

### T-SQL incluye funciones que le ayudan a convertir explícitamente entre tipos de datos
#### CAST y TRY_CAST
La función CAST convierte un valor en un tipo de datos especificado si dicho valor es compatible con el tipo de datos de destino. Se devolverá un error si no es compatible.

Por ejemplo, la consulta siguiente usa CAST para convertir los valores integer de la columna ProductID en valores varchar (con un máximo de 4 caracteres) para concatenarlos con otro valor basado en caracteres:

In [ ]:
SELECT CAST(ProductID AS varchar(4)) + ': ' + Name AS ProductName
FROM Production.Product;

Los resultados posibles de esta consulta podrían tener un aspecto parecido al siguiente:

ProductName

680: HL Road Frame - Black, 58

706: HL Road Frame - Red, 58

707: Sport-100 Helmet, Red

708: Sport-100 Helmet, Black

Sin embargo, supongamos que la columna Size de la tabla Production.Product es una columna nvarchar (longitud variable, datos de texto Unicode) que contiene algunos tamaños numéricos (como 58) y algunos tamaños basados en texto (como "S", "M" o "L"). La consulta siguiente intenta convertir valores de esta columna en un tipo de datos integer:

In [ ]:
SELECT CAST(Size AS integer) As NumericSize
FROM Production.Product;


Esta consulta produce el siguiente error:

Error: Error de conversión al convertir el valor nvarchar "M" al tipo de datos int.

Dado que al menos algunos de los valores de la columna son numéricos, es posible que quiera convertir esos valores y pasar por alto los demás. Puede usar la función TRY_CAST para convertir tipos de datos.

In [ ]:
SELECT TRY_CAST(Size AS integer) As NumericSize
FROM Production.Product;

Los resultados esta vez podrían ser similares a los siguientes:

NumericSize

58

58

NULL

NULL

### CONVERT y TRY_CONVERT
CAST es la función de SQL del estándar ANSI para convertir entre tipos de datos y se usa en muchos sistemas de base de datos. En Transact-SQL, también puede usar la función CONVERT, como se muestra aquí:

In [ ]:
SELECT CONVERT(varchar(4), ProductID) + ': ' + Name AS ProductName
FROM Production.Product;

Una vez más, esta consulta devuelve el valor convertido al tipo de datos especificado de la siguiente forma:

ProductName

680: HL Road Frame - Black, 58

706: HL Road Frame - Red, 58

707: Sport-100 Helmet, Red

708: Sport-100 Helmet, Black

...

Al igual que CAST, CONVERT tiene una variante TRY_CONVERT que devuelve NULL para valores incompatibles.

Otra ventaja de usar CONVERT sobre CAST es que CONVERT también incluye un parámetro que permite especificar un estilo de formato al convertir valores numéricos y de fecha en cadenas. Por ejemplo, considere la siguiente consulta:

In [ ]:
SELECT SellStartDate,
       CONVERT(varchar(20), SellStartDate) AS StartDate,
       CONVERT(varchar(10), SellStartDate, 101) AS FormattedStartDate 
FROM SalesLT.Product;

### PARSE y TRY_PARSE
La función PARSE está diseñada para convertir cadenas con formato que representan valores numéricos o de fecha y hora. Por ejemplo, considere la siguiente consulta (que usa valores literales en lugar de valores de columnas de una tabla):

In [1]:
SELECT PARSE('01/01/2021' AS date) AS DateValue,
   PARSE('$199.99' AS money) AS MoneyValue;

   De forma similar a CAST y CONVERT, PARSE tiene una variante TRY_PARSE que devuelve valores incompatibles como NULL.

SyntaxError: invalid syntax (2435549716.py, line 1)

### Controlar valores NULL

Un valor NULL significa que no hay ningún valor o es desconocido. No significa cero ni en blanco, ni siquiera una cadena vacía. Esos valores no son desconocidos. Se puede usar un valor NULL para los valores que aún no se han proporcionado, por ejemplo, cuando un cliente aún no ha proporcionado una dirección de correo electrónico. Como ha visto anteriormente, algunas funciones de conversión también pueden devolver un valor NULL si un valor no es compatible con el tipo de datos de destino.

A menudo, deberá realizar pasos especiales para tratar con los valores NULL. NULL es realmente un valor sin valor. Es desconocido. No es igual a nada y no es desigual a nada. NULL no es mayor ni menor que nada. No podemos decir nada sobre lo que es, pero a veces es necesario trabajar con valores NULL. Afortunadamente, T-SQL proporciona funciones para la conversión o sustitución de valores NULL.

#### ISNULL
La función ISNULL toma dos argumentos. El primero es una expresión que estamos probando. Si el valor de ese primer argumento es NULL, la función devuelve el segundo argumento. Si la primera expresión no es NULL, se devuelve sin cambios.

Por ejemplo, supongamos que la tabla Sales.Customer de una base de datos incluye una columna MiddleName que permite valores NULL. Al consultar esta tabla, en lugar de devolver NULL en el resultado, puede optar por devolver un valor específico, como "None".

#### COALESCE
La función ISNULL no es estándar de ANSI, por lo que puede que desee usar la función COALESCE en su lugar. COALESCE es un poco más flexible, ya que puede tomar un número variable de argumentos, cada uno de los cuales es una expresión. Devolverá la primera expresión de la lista que no sea NULL.

Si solo hay dos argumentos, COALESCE se comporta como ISNULL. Sin embargo, con más de dos argumentos, COALESCE se puede usar como alternativa a una expresión CASE de varias partes mediante ISNULL.

Si todos los argumentos son NULL, COALESCE devuelve NULL. Todas las expresiones deben devolver tipos de datos iguales o compatibles.

La sintaxis es la siguiente:

In [ ]:
SELECT EmployeeID,
      COALESCE(HourlyRate * 40,
                WeeklySalary,
                Commission * SalesQty) AS WeeklyEarnings
FROM HR.Wages;

#### NULLIF
La función NULLIF permite devolver NULL en determinadas condiciones. Esta función tiene aplicaciones útiles en áreas como la limpieza de datos, cuando desea reemplazar los caracteres en blanco o de marcador de posición por NULL.

NULLIF toma dos argumentos y devuelve NULL si son equivalentes. Si no son iguales, NULLIF devuelve el primer argumento.

En este ejemplo, NULLIF reemplaza un descuento de 0 por un valor NULL. Devuelve el valor de descuento si no es 0:

In [ ]:
SELECT SalesOrderID,
      ProductID,
      UnitPrice,
      NULLIF(UnitPriceDiscount, 0) AS Discount
FROM Sales.SalesOrderDetail;